<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>my website</title>
</head>
<body>

    <header>
        KIARASH
    </header>

    <div class="sideBar">
        <nav class="nav">

            <div class="image">
                <img src="/pics/k-logo.png">
            </div>

            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/portfolio">PORTFOLIO</a></li>
                <li><a href="/aboutme">ABOUT ME</a></li>
                <li><a href="/information">CONTACT</a></li>
                <li><a href="/blogPost">BLOGPOST</a></li>
                <li><a href="/guestbook">GUESTBOOK</a></li>
                <li><a href="/login">login</a></li>
            </ul>
        </nav>
    </div>

    
    
    {{{body}}}

    <footer>
        COPYRIGHT 
    </footer>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>