<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/layout.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>my website</title>
</head>
<body>

    <header>
        my personal website
    </header>

    <nav>
        <a href="/">HOME</a>
        <a href="/portfolio">PORTFOLIO</a>
        <a href="/aboutme">ABOUT ME</a>
        <a href="/information">CONTACT</a>
        <a href="/blogPost">BLOGPOST</a>
        <a href="/guestbook">GUESTBOOK</a>
    </nav>
    
    {{{body}}}

    <footer>
        <br>contact information:</br>
        <br>phone: 0761111</br>
        <br>adress: Odengatan </br>
        <br>email: kiarash.kia.007@gmail.com</br>
    </footer>
    
</body>
</html>