<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/aboutme.css">
    <link rel="stylesheet" href="/blogpost.css">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/information.css">
    <link rel="stylesheet" href="/guestBook.css">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/portfolio.css">
    <link rel="stylesheet" href="/start.css">
    <title>kiki-portfolio</title>
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
            <a href="/">HOME</a>
        </li>
        <li class="nav-item">
            <a href="/portfolio">PORTFOLIO</a>
        </li>
        <li class="nav-item">
            <a href="/aboutme">ABOUT ME</a>
        </li>
        <li class="nav-item">
            <a href="/information">CONTACT</a>
        </li>
        <li class="nav-item">
            <a href="/blogPost">BLOGPOST</a>
        </li>
        <li class="nav-item">
            <a href="/guestbook">GUESTBOOK</a>
        </li>
        {{#unless isLoggedIn}}
            <li class="nav-item">
                    <a href="/login">LOG-IN</a>
            </li>
        {{/unless}}

        {{#if isLoggedIn}}
            <li class="nav-item">
                <form action="/logout" method="post">
                    <input type="submit" value="logedout">
                </form>
            </li>
        {{/if}}
    </ul>
    
    {{{body}}}

    <footer>
        COPYRIGHT 
    </footer>
    
</body>
</html>