<section id="aboutMe">
    <div class="main">
        <div class="container text-center">
            <div class="col">
                <div class="card" style="width: 45rem;">
                    <div class="card-body">
                        <h1>About Me!</h1>
                        <p class="card-text">Hello! <br>my name is kiarash and I am from Iran. Right now I am studying NEW MEDIA DESIGN.I have one bachelor in the field of <strong>Industrial Design</strong> from my home country and I studied that for <strong>3 years</strong>. I came to Sweden about 2 years ago.I undrestand <strong>Swedish, English and persian.</strong><br>I love designing things such as engine, car surfaces and Industrial tools. also I have passion about designing charackter in illustrator as well.</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
</section>

