<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/aboutme.css">
    <title>Document</title>
</head>
<body>
    <div class="aboutMe">
    <h1>About me</h1>
    </div>

    <div class="dtl">
    <p>Hello my name is kiarash and i am student at jonkoping university.<br>I am originaly from Iran and I know Swedish, English and persian. <br>Right now I am studying NEW MEDIA DESIGN.<br>I have one bachelor in field of industrial design.</p>
    </div>
    
</body>
</html>

