<div class="container">
    <div class="header">
        <h1>Guestbook</h1>
        <p1> what do you think of my website?</p1>
    </div>

    <div class="form">
        <form action="" method="post">
            <div>
                name:<input type="text" name="name">
            </div>
            <div>
                comment:<input type="text" name="comment">
            </div>
            <input type="submit" value="create">
    </div>
</div>

{{#if comments.length}}
    <p>we have comments!{{comments.length}}</p>

    <ul>
        {{#each comments}}
            <li>{{name}}</li>
            <li>{{comment}}</li>
        {{/each}}
    </ul>

{{else}}
    <p>we have no comments!</p>
{{/if}}