<div class="container">
    <div class="header">
        <h1>Guestbook</h1>
        <p1> what do you think of my website?</p1>
    </div>

    <div class="form">
        <form action="" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Your Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Bob">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Your comment</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div>
                <button class="btn btn-primary" type="post">post</button>
            </div>          
        </form>
    </div>
</div>