<body>
    <section id="contc">
        <div class="main">
            <div class="container text-center">
                <div class="col">
                        <div class="card" style="width: 30rem;">
                            <div class="card-body">
                                <p class="card-text"><h1>CONTACT INFORMATION</h1><br><p1><strong>Email: </strong> kiarash.kia.007@gmail.com</p1> <br><p2><strong>My phone: </strong> 0761111</p2> <br><p3> <strong>My adress: </strong> Odengatan, 27 jonkoping</p3></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
