<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/information.css">
    <title>Document</title>
</head>
<body>
    <div class="contact">
            <h1>CONTACT ME</h1>
        <div class="info">
            <p1>Email: kiarash.kia.007@gmail.com</p1><br>
            <p2>My phone: 0761111</p2><br>
            <p3></p3>My adress: Odengatan, 27 jonkoping</p3>
        </div>
    </div>
    {{!-- <div class="img">
        <img src="/pics/sweden-flag.png">
    </div> --}}
    
</body>
</html>
