<div class="h1">
    <h1>login information</h1>
</div> 

<form action="" method="post">
    <div class="form-floating mb-3">
        <input type="username" name="username" class="form-control" id="floatingInput" placeholder="Bob">
        <label for="floatingInput">username</label>
    </div>
    <div class="form-floating">
        <input type="password" name ="password"class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="butn">
        <button class="btn btn-primary" type="submit">log-in</button>
    </div>
</form>