<h1>MY PORTFOLIO</h1>

{{#if movies.lenght}}
    <ul>
        {{#each movies}}
            <li><a href="/portfolio/{{id}}" ({{grade}}/10)</li>
        {{/each}}
    </ul>

    {{else}}

    <p>nothing to shown</p>
    
{{/if}}


