<section id="home">
    <div class="main">
        <h1 class="headings"> I AM <BR> KIARASH KIAEE</h1>
            <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="IT IS ME KIARASH" data-bs-content="WELCOM TO MY PAGE, RNJOY IT">TRY ME!</button>
    </div>
</section>