{{#if Errors.length}}
    <p>could not create because:</p>
    <ul>
        {{#each Errors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}

<form action="/update-portfolio/{{portfolio.id}}" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name: </label>
                <input type="text" name="name" value = "{{portfolio.name}}"  class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Your comment: </label>
                <textarea class="form-control" type="text" name="comment" id="exampleFormControlTextarea1" rows="3">{{portfolio.comment}}</textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="update">
</form>