/* .container{
    align-items: center;
} */

.header{
    text-align: center;
}

p{
    color: red;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: larger;
}

/* .container .col{
    text-align: left;
} */