.form-floating{
    margin-left: 35rem;
    margin-right: 35rem;
    align-items: center;
}

.h1{
    text-align: center;
    margin: 5rem;
}

.btn{
    text-align: center;
    margin-left: 46rem;
    margin-top: 2rem;
}